{% extends "base.html" %}

{% block main-title %} Blog home {% endblock %}

{% block content-management %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'my_blogs' user.username %}" target="_self">My blogs</a>
  </li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'add_blog' %}" target="_self">Add blog</a>
</li>
{% endblock %}

{% block log_alert %}
  {% if user.is_authenticated %}
    <h4 class="mb-5"><strong>Welcome {{ user.username }}</strong></h4>
  {% else %}
    <h4 class="mb-5"><strong>You are not logged in</strong></h4>
  {% endif %}
{% endblock %}

{% block title %} <h2 style="color:#BA0021"><strong>Latest blogs</strong></h2> {% endblock %}

{% block content %}
<div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
  {% for blog in blog_list %}
  <div class="card mb-4">
    <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
      <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
      <a href="{% url 'blog_home' blog.name %}">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ blog.name }}</h5>
      <p class="card-text text-muted h6">{{ blog.author }} | {{ blog.created_on}} </p>
      <a href="{% url 'blog_home' blog.name %}" class="btn btn-primary" data-mdb-ripple-init>Visit</a>
      {% if user.is_authenticated and blog.author == user %}
        <a href="{% url 'edit_blog' blog.slug %}" class="btn btn-primary" data-mdb-ripple-init>Edit</a>
        <a href="{% url 'delete_blog' blog.slug %}" class="btn btn-primary" data-mdb-ripple-init>Delete</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}